body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: auto;
}
*{
	margin: 0px;
	padding: 0px;
}
.body {
	margin: 0px;
	padding: 0px;
	width: 100%;
}
.body .header {
	margin: 0px;
	padding: 0px;
	width: 100%;
}
.body .header .img {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 800px;
	overflow: hidden;
}
.header .img ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	width: 100%;
	position: relative;
	animation: SlideImg 12s infinite ease-in-out;
}
.header .img ul:hover {
	animation-play-state: paused;
}
.header .img ul li {
	margin: 0px;
	padding: 0px;
	list-style: none;
	height: 800px;
	width: 100%;
}
.header .img ul li img {
	width: 100%;
	height: 800px;
	margin: 0px;
	padding: 0px;
}
@keyframes SlideImg {
	0%{bottom: 0px;}
	50%{bottom: 800px;}
	99.9%{bottom: 1600px;}
	100%{bottom: 0px;}
}
.container {
	width: 1300px;
	margin: 0px auto;
	padding: 0px;
}
.main_header{
	background-image: url(../img/background.jpg);
	height: 55px;
	width: 100%;
}
.nav-element{
	float: left;
	margin: 0px;
	margin-top: 10px;
}
.nav_bar_e1 , .nav_bar_e2{
	display: inline-block;
	text-decoration: none;
	margin-left: 25px;
    padding: 10px 8px 6px 2px;
	color: white;
}
.nav_bar_e1{
	color: #f6b541;
}
.nav_bar_e2:hover{
	border-bottom: 2px solid #f6b541;
	border-radius: 6px;
}
.LR{
	float: right;
	margin: 0px;
	margin-top: 10px;
}
.nav_bar_e3{
	display: inline-block;
	text-decoration: none;
	margin-left: 25px;
    padding: 10px 8px 6px 2px;
	color: white;
}
.nav_bar_e3:hover{
	border-bottom: 2px solid #f6b541;
	border-radius: 6px;
}
.container .page {
	margin: 0px;
	padding: 0px;
	width: 100%;
}
.container .page .video {
	width: 1200px;
	height: 800px;
	margin: 50px auto;
	background-color: #333;
	border: #f6b541 2px solid;
}
.page .video #video-list {
	width: 200px;
	height: 800px;
	float: right;
	padding: 0px;
	border-left: 4px solid #f6b541;
	overflow: hidden;
	background-color: #ddd;
}
.page .video #video-list ul {
	list-style: none;
	padding: 0px;
	line-height: 1.8;
	margin-top: 10px;
	margin-left: 0px;
	float: left;
}
.page .video #video-list ul li {
	border-bottom: solid 2px #f6b541;
	border-radius: 250px;
	display: block;
	padding: 0px 36px 12px 36px;
	text-align: center;
}
.page .video #video-list ul li:hover{
	border-radius: 250px;
	background-color: #f6b541;
}
.page .video #video-list ul li a {
	text-decoration: none;
	display: block;
	color: #555;
	font-size: 18px;
	text-align: center;
	margin: auto;
}
.page .video #video-play {
	height: 800px;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}
.page .video #video-play video {
	width: 100%;
	margin: 0px;
	padding: 0px;
	height: 800px;
} 
.java-logo {
	width: 100%;
	position: fixed;
	top: 50px;
	left: 1800px;
	animation: JavaSlide 3s 1 ease-in-out;
}
.java-logo img {
	width: 1844px;
	height: 929.65px;
}
@keyframes JavaSlide {
	0%{left: 1800px;}
	100%{left: -1800px;}
}
#next_topic{
	display: block;
	border: 5px solid black;
	background-color: #f6b541;
	border-radius: 20px;
	color: rgb(0,0,0);
	text-align: center;
	text-decoration: none;
	font-size: 40px;
	font-weight: bold;
	width: 10%;
	height: 50px;
	margin: 50px auto 10px auto;
}
#next_topic:hover{
	color: #f6b541;
	border-color: #f6b541;
	background-color: black;
}